@media (max-width: 768px) {
  /* ===== Header ===== */
  .header {
    padding: 100px 0;
  }
  .title {
    font-size: 30px;
  }

  .suptitle {
    font-size: 12px;
  }

  /* ===== Main ===== */

  .about__title {
    font-size: 20px;
  }

  .about__suptitle {
    font-size: 12px;
  }

  .card-title {
    font-size: 12px;
  }

  .card-text {
    font-size: 11px;
  }

  .card {
    min-height: 100px;
  }

  /* ===== Footer ===== */
  .footer {
    padding: 30px 0;
  }
  .footer__suptitle {
    font-size: 11px;
    padding-left: 10px;
  }

  .social {
    padding-top: 20px;
  }

  .fa-brands {
    font-size: 38px;
  }
}
