html,
body {
  margin: 0;
  font-family: 'Dangrek', cursive;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  background-color: #a840ff;
  height: 80px;
}

.wrap {
  padding: 0px 40px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 260%;
  color: rgb(238, 238, 18);
  text-align: right;
  margin-bottom: 0px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  position: relative;
  margin: 0 20px;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 18);
}

.menu_item a:hover {
  color: black;
}

/* MAIN */

main {
  padding: 20px 40px;
  background-color: #c6a6e1;
}

h1 {
  text-align: center;
  color: black;
  font-size: 150%;
}

.hr {
  border: none;
  background-color: black; 
  color: rgb(238, 238, 18); 
  height: 3px; 
}

.intro_wrap {
  padding: 20px 0;
  display: flex;
}

.intro_text {
  line-height: 2;
  margin-top: 40px;
  white-space: inherit;
  color: black;
}

.intro_image {
  width: 50%;
  margin-left: 40px;
}

.intro-info {
  width: 50%;
}

.actors {
  margin-top: 30px;
}

.actors.wrap {
  margin-top: 30px;
}

.photos_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.photos_title {
  text-align: center;
  color: rgb(238, 238, 18);
  font-size: 150%;
  /* margin-bottom: 50px; */
}

.photo {
  text-align: center;
  width: 31%;
  height: 300px;
  margin: 10px;
}

.actor_image {
  width: 250px;
  border-radius: 5%;
}

.photo_name {
  color: black;
}

.table_image {
  width: 150px;
  vertical-align: middle;
  border-radius: 5%;
}

.about_heroes {
  margin-top: 30px;
  padding: 20px 0;
}

.about_heroes_wrap {
  display: flex;
  flex-direction: column;
}

.about_heroes_title {
  text-align: center;
  color: black;
  font-size: 150%;
  /* text-decoration: underline; */
  /* border: 1px; */
  /* text-decoration-thickness: 4px; */
  /* margin-bottom: 50px; */
}

.table {
  border: 1px solid #a840ff;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  background-color: #a840ff;
  /* cell: 0;
  cellpadding="4" */
}

.tr {
  background-color: #eaf086;
}
/* FOOTER */

.footer {
  background-color: #a840ff;
  padding: 30px;
}

.footer ul {
  list-style: none;
}

.footer_wrap {
  text-align: center;
}